@layout BlankLayout
@page "/signin"

<PageTitle>@T["Sign In"]</PageTitle>

<FluentGrid Style="margin-top: 25px">
    <FluentGridItem xs="12" sm="12" Justify="JustifyContent.Center">
        <StatusMessage Message="@StatusMessage" />
        <EditForm Model="Input" method="post" OnValidSubmit="SignInUser" FormName="SignInForm">
            <DataAnnotationsValidator/>
            <h2 style="text-align: center;">@T["Sign in using a local account."]</h2>
            <p style="text-align: center">@T["New Here?"] <FluentAnchor Appearance="Appearance.Hypertext" Href="@Constants.Urls.SignUp">@T["Create an Account"]</FluentAnchor></p>
            <FluentStack Orientation="Orientation.Vertical">

                <FluentTextField Name="Input.Email" @bind-Value="Input.Email" AutoComplete="username" Required="true" Placeholder="name@example.com" Label="@T["Email"]" Style="width: 100%"/>
                <FluentValidationMessage For="() => Input.Email" class="text-danger"/>

                <FluentSpacer/>

                <FluentTextField type="password" Name="Input.Password" @bind-Value="Input.Password" AutoComplete="current-password" Required="true" Placeholder="password" Label="@T["Password"]" Style="width: 100%"/>
                <FluentValidationMessage For="() => Input.Password" class="text-danger"/>

                <FluentSpacer/>

                <FluentStack HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                    <FluentCheckbox Name="Input.RememberMe" @bind-Value="Input.RememberMe" Label="@T["Remember me?"]"/>
                    <FluentAnchor Appearance="Appearance.Hypertext" Href="@Constants.Urls.Accounts.ForgotPassword">@T["Forgot your password?"]</FluentAnchor>
                </FluentStack>

                <FluentSpacer/>

                <FluentButton Appearance="Appearance.Accent" Style="width: 100%;" Type="ButtonType.Submit">@T["Sign In"]</FluentButton>

                <ExternalSignInPicker/>
            </FluentStack>
        </EditForm>
    </FluentGridItem>
</FluentGrid>